---

---


$banner-image: '/banner1.gif';


#banner-image{
	background: url($banner-image);
	width: image-width($banner-image);
	height: image-height($banner-image);
	
	
	}
html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  
  margin: 0px auto;
  
}

.sidebar{
	width: 10rem;
	height-min: 100%
	}
.rightbar{
	background-color: magenta;
	float: right;
	}
.leftbar{
		background-color: blue;
		float: left;
		}
.footer{
		width: 100%;
		float: left;
		}
#top-bar{
		
		background-color: green;
		}
		
#nav-bar{
		width: 100%;
		float: left;
		height: 2rem;
		background-color: blue;
		}		
		
#page-title{
	
	font-weight: bold;
	
	
	background-color: yellow;
	}
.sidebar-sec{
	line-height: 1.5;
	border-top: 2px dotted black;
	border-bottom: 2px dotted black;
	
	}

.sidebar-sec ul{
	list-style-type: square;
	line-height: 1
	}

.sidebar-sec-header{
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	padding: 5px 5px 0 15px;
	}
ul.sidebar-sec-items{
	
	padding: 5px 5px 0 15px;
	
	}	
 .sidebar-sec-item{
	
	padding: 5px 0 0 15px;
	}	
.yearArchive{
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	list-style-type: none;
	padding: 5px 0 0 5px;
	}
p{
	margin-bottom: 0;
	padding-bottom: 0;
	}
.yearArchive li{
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	list-style-type: none;
	padding: 0 5px;
	}
.page-archive-title{
	text-decoration: underline;
	
	}
.page-archive-year{
	text-decoration: underline;
	
	}	
h3#tabularList{
	text-decoration: underline;
	}
