{% comment %}
	# This file produce a cat line in index.html page under a post.
	# It is also used in post.html for the same purpose.
{% endcomment %}	

{% if post.title %}
	{% assign tagsize = post.tags | size %}
	{% assign tags = post.tags %}
{% else %}
	{% assign tagsize = page.tags | size %}
	{% assign tags = page.tags %}
{% endif %}

	
	{% if tagsize > 1 %}
		<span><strong><u>Tags:</u></strong>&nbsp;
	{% else %}	
		<span><strong><u>Tag:</u></strong>&nbsp;
	{% endif %}
		
	{% if tagsize > 0 %}
		{% for singletag in tags %}
				
			
				{% if forloop.index > 1 %}
					<span>,&nbsp;</span>
					<span><a href="{{ site.baseurl }}{{ site.tag_dir }}/{{ singletag }}">{{ singletag }}</a></span>
				{% else %}	
					<span><a href="{{ site.baseurl }}{{ site.tag_dir }}/{{ singletag }}">{{ singletag }}</a></span>
				{%endif %}
		{% endfor %}
				
	{% else %}
			<span>none</span>	
	{% endif %}	
			
		
  </span>
