	<div class="col-md-3" style="background-color: green">
		<a href="{{site.data.ad-data.banner-ad-1.link}}"> <img src="/images/{{ site.data.ad-data.banner-ad-1.img-file-name }}" class="cover-image img-responsive" /></a>
	</div>				
					
	<div class="col-md-3">
		<a href="{{site.data.ad-data.banner-ad-2.link}}"><img src="/images/{{ site.data.ad-data.banner-ad-2.img-file-name }}" class="cover-image img-responsive" /></a>
	</div>				
	<div class="col-md-3">
		<a href="{{site.data.ad-data.banner-ad-3.link}}"><img src="/images/{{ site.data.ad-data.banner-ad-3.img-file-name }}" class="cover-image img-responsive" /></a>
	</div>				
	
	<div class="col-md-3">
		<a href="{{site.data.ad-data.banner-ad-4.link}}"><img src="/images/{{ site.data.ad-data.banner-ad-4.img-file-name }}" class="cover-image img-responsive" /></a>
	</div>		
