
{% assign sortedcats = site.categories | sort %}
<div class="sidebar-sec2">
	<!-- <p class="h4 sidebar-sec-header2"><u><strong>Categories</strong></u></p> -->
	<h3 class="sidebar-sec-header"><u><a style="color: red" href="{{ site.baseurl }}categories">Categories</a></u></h3>
	<ul class="sidebar-sec-items">
		{% for category in sortedcats %}
			
			<li class="sidebar-sec-item">
				<a href="/{{ site.category_dir }}/{{ category | first | slugify }}">
					{{ category | first | slugify }}
					<span class="badge">
						{{ category | last | size }}
					</span>
				</a>
			</li>
		{% endfor %} 
	</ul>
</div>
