<div class="container-fluid" style="background-color: black;">  <!-- #container for footer -->
		<div class="row-fluid" >
			<div class="col-md-2" id="col-footer-1">
				{% include site-links-footer.html %}
			</div>	
			
			<div class="col-md-2" id="col-footer-1">
				{% include cat-list.html %}
			</div>	
			
			<div class="col-md-3" id="col-footer-2">
				{% include recent-posts.html %}
			</div>
			<div class="col-md-3" id="col-footer-3">
				{% include footer-sidebar-archive.html %}
			</div>	
			
			<div class="col-md-2" id="col-footer-4">
				{% include tag-list.html %}
			</div>	
		</div>
</div>		
