{% comment %}
	#	File name: _includes/new-sidebar-archive.html (03 April, 2015)
	#	The First assign statement is very important. It uses a custom
		filter summarize which imports myarr.
	#. myarr contains hashes and array containing years, months and counts.
{% endcomment %}		

{% assign myarr = site.posts | summarizeToYearMonth %}



<h3 class="sidebar-sec-header"><u><a style="color: red;" href="{{site.url}}{{site.pages_list.Archive}}">Archive</a></u></h3>

{% for year in myarr %}
  <h4 ><strong><a style="color: red;" href="{{site.url}}/{{site.yearly_archive_dir}}/{{ year[0] }}">{{ year[0] }}</a></strong></h4>
  <ul>
  {% for hashes in year[1] %}
 
	{% case hashes['month'] %}
		{% when '01' %}
			{% assign targetMonth = 'Jan' %}
		{% when '02' %}
			{% assign targetMonth = 'Feb' %}
		{% when '03' %}
			{% assign targetMonth = 'Mar' %}
		{% when '04' %}
			{% assign targetMonth = 'Apr' %}
		{% when '05' %}
			{% assign targetMonth = 'May' %}
		{% when '06' %}
			{% assign targetMonth = 'Jun' %}
		{% when '07' %}
			{% assign targetMonth = 'Jul' %}
		{% when '08' %}
			{% assign targetMonth = 'Aug' %}
		{% when '09' %}
			{% assign targetMonth = 'Sep' %}
		{% when '10' %}
			{% assign targetMonth = 'Oct' %}
		{% when '11' %}
			{% assign targetMonth = 'Nov' %}
		{% when '12' %}
			{% assign targetMonth = 'Dec' %}
	{% endcase %}

    
    <li><a href="{{site.url}}/{{site.monthly_archive_dir}}/{{ year[0] }}/{{ hashes['month'] }}">{{ targetMonth }}-{{ year[0] }}&nbsp;({{ hashes['count'] }})</a></li>
    
    
  {% endfor %}
  </ul>
{% endfor %}

