<div>

{% if page.site_filter == null and paginator.total_pages > 1 %}
				<ul id="paging">
					{% if paginator.next_page %}
					<li id="count">Page <strong>{{ paginator.next_page | minus:1 }}</strong> of <strong>{{ paginator.total_pages }}</strong></li>
					{% else %}
					<li id="count">Page <strong>{{ paginator.total_pages }}</strong> of <strong>{{ paginator.total_pages }}</strong></li>
					{% endif %}
					{% if paginator.previous_page %}
					<li id="newest"><a href="/" title="Go to newest articles">Newest articles</a></li>
						{% if paginator.previous_page > 1 %}
						<li id="newer"><a href="/page{{ paginator.previous_page }}" title="Go to newer articles">Newer articles</a></li>
						{% else %}
						<li id="newer"><a href="/" title="Go to newer articles">Newer articles</a></li>
						{% endif %}
					{% else %}
					<li id="newest"><a class="disabled" title="Go to newest articles">Newest articles</a></li>
					<li id="newer"><a class="disabled" title="Go to newer articles">Newer articles</a></li>
					{% endif %}
					{% if paginator.next_page %}
					<li id="oldest"><a href="/page{{ paginator.total_pages }}" title="Go to oldest articles">Oldest articles</a></li>
					<li id="older"><a href="/page{{ paginator.next_page }}" title="Go to older articles">Older articles</a></li>
					{% else %}
					<li id="oldest"><a class="disabled" title="Go to oldest articles">Oldest articles</a></li>
					<li id="older"><a class="disabled" title="Go to older articles">Older articles</a></li>
					{% endif %}
				</ul>
				{% endif %}
</div>
