{% if site.JB.sharing.provider and page.sharing != false %}

  {% case site.JB.sharing.provider %}
	{% when 'like' %}
  		{% include sharing-provider-facebook.html %}
	{% when 'tweet' %}
  		{% include sharing-provider-twitter.html %}
	{% when 'plusone' %}
  		{% include sharing-provider-googleplus %}
	{% when 'linkedin' %}
  		{% include sharing-provider-linkedin %}
	{% when 'hn' %}
  		{% include sharing-provider-hn.html %}
	{% when 'all' %}
  		{% include sharing-provider-global.html %}
  {% endcase %}

{% endif %}
