{% assign sortedtags = site.tags | sort %}
<div class="sidebar-sec2">
	<h3 class="sidebar-sec-header"><u><a style="color: red" href="{{ site.baseurl }}tags">Tags</a></u></h3>
	<ul class="sidebar-sec-items tag-items">
		{% for tag in sortedtags %}
			
			<span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 90  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
		{% endfor %} 
	</ul>
</div>
