<div class="sidebar-sec">
	<p class="sidebar-sec-header">Archive</p>
	
		{% assign month = "", first = "Yes" %}
		{% assign yearcount = 0, monthcount = 0 %}
		
		{% for post in site.posts %}
			
			{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
			{% capture previousyear %}{{post.previous.date | date: "%Y"}}{% endcapture %}
			
			{% capture currentmonth %}{{post.date | date: "%m"}}{% endcapture %}
			{% capture previousmonth %}{{post.previous.date | date: "%m"}}{% endcapture %}
			
			{% capture currentmonthtext %}{{post.date | date: "%b"}}{% endcapture %}
			{% capture previousmonthtext %}{{post.previous.date | date: "%b"}}{% endcapture %}
			
			{% if currentyear != previousyear %}
				{% if yearcount == 0 %}
				
					<p class="sidebar-sec-item">
							<a href="/archive#{{ currentyear }}-ref">
								{{ currentyear}}(1)
							
							</a>
					 </p>
					 <p class="sidebar-sec-item">
						<a href="/{{ currentyear }}/{{ currentmonth }}">
							{{currentmonthtext }}-{{ currentyear }}
							<span> (1) </span>
						</a>
					</p>
					
					<p class="sidebar-sec-item">
							<a href="/archive#{{ previousyear }}-ref">
								{{ previousyear}}(1)
							
							</a>
					 </p>
					  
				{% else %}
				
					<p class="sidebar-sec-item">
							<a href="/archive#{{ currentyear }}-ref">
								{{ currentyear}}({{ yearcount}})
							
							</a>
					 </p>	
					{% assign yearcount = 0 %}
				 {% endif %}
				 
			{% else %}	
				{% assign yearcount = yearcount | plus:1 %} 
			
			
				{% if currentmonth != previousmonth %}
				
					{% if monthcount == 0 %}
						<p class="sidebar-sec-item">
								<a href="/{{ currentyear }}/{{ lastmonth }}">
									{{currentmonthtext }}-{{ currentyear }}
									<span> (1) </span>
								</a>
						</p>
					{% else %}
						<p class="sidebar-sec-item">
								<a href="/{{ currentyear }}/{{ lastmonth }}">
									{{currentmonthtext }}-{{ currentyear }}
									<span> ({{ monthcount }}) </span>
								</a>
						</p>	
						
						
						{% assign monthcount = 0 %}
					{% endif %}
						 
				{% else %}	
					{% assign monthcount = monthcount | plus:1 %} 
			   {% endif %}	
				
		{% endif %}		
   
    
{% endfor %}


</div>
