<div class="sidebar-sec">
	<h3 class="sidebar-sec-header"><u><a style="color: red;" href="{{ site.baseurl }}archive">Archive</a></u></h3>
	
		{% assign year = "", month = "" %}
		{% capture first %}Yes{% endcapture %}

		{% for post in site.posts %}
			
			
			
			{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  
			{% if currentyear != year %}
				<!-- if not first year -->
				{% if first != "Yes" %}
						<li class="sidebar-sec-item">
							<a href="/{{ year }}/{{ lastmonth }}/">
								{{lastmonthText }}-{{ year }}
								<span> ({{ monthcount.size }}) </span>
							</a>
						</li>
					</ul>
				{% endif %}
					
				<ul class="sidebar-sec-items yearArchive">
					<li class="sidebar-sec-item2">
						<a href="/archive#{{ currentyear }}-ref">
							{{ currentyear}}
						
						</a>
					 </li>
				</ul>	
				<ul>	<!-- it is for opening another indented list for months -->
				<!-- it will close the first ul above -->
				{% assign first = "No" %}
				{% capture year %}{{currentyear}}{% endcapture %} 
				{% assign lastmonth = 0 %}
			 {% endif %}
   
			 {% capture currentmonth %}{{post.date | date: "%m"}}{% endcapture %}
			 {% capture currentmonthText %}{{post.date | date: "%b"}}{% endcapture %}
			
			 {% if currentmonth != month %}
				
				{% if lastmonth != 0 %}
				
					<li class="sidebar-sec-item">
						<a href="/archive#{{ currentyear }}-{{ lastmonthText }}-ref">
							{{lastmonthText }}-{{ currentyear }}
							<span> ({{ monthcount.size }}) </span>
						</a>
					</li>
				{% endif %}	
					
				{% capture lastmonth %}{{ currentmonth }}{% endcapture %}
					
				{% capture lastmonthText %}{{ currentmonthText }}{% endcapture %}
				
				{% assign monthcount = '*' %}
			
				
				
				{% capture month %}{{ currentmonth }}{% endcapture %} 
			{% else %}
				
				{% capture monthcount %}{{ monthcount }}*{% endcapture %}
			{% endif %}
			
			{% if forloop.last %}
				
					<li class="sidebar-sec-item">
						<a href="/{{ currentyear }}/{{ lastmonth }}/">
							{{lastmonthText }}-{{ currentyear }}
							<span> ({{ monthcount.size }}) </span>
						</a>
					</li>
			{% endif %}	
   
    
{% endfor %}

</ul>
</div>
