<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

		<div class="container-fluid">  <!-- #1 container -->
			<div class="row-fluid">
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
							  <small>{{ site.tagline }}</small>
						</div>  <!-- navbar-header ends -->
					
						<ul class="nav navbar-nav">
							{% for page in site.pages_list %}
									&nbsp;&nbsp;&nbsp;
									<li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>
							  {% endfor %}
							
						</ul>
					</div> <!-- second container-fluid ends -->
 
				</nav>
			</div>  <!-- first row-fluid ends -->
		</div> <!-- #1 container ends here -->
		
		
		
		
		<div class="container-fluid">  <!-- #2 container starts here-->
			<div class="row-fluid  no-gutters">
				{% include banner-ads-processor.html %}
			</div>	<!-- row-fluid ends -->
		</div> <!-- #2 container ends here -->
    
    
		<div class="container-fluid">  <!-- #3 container for banner image starts here -->
			<div class="row-fluid" >
				<div class="col-md-12" style="background-color: cyan;">
					
					<img src="/images/banner-thin.gif" class="cover-image" />
					
				</div>
			</div>
		</div> <!-- #3 container ends here -->
				
    <div class="container-fluid">  <!-- #4 container for second nav starts here -->
		<div class="row-fluid" >
			<div class="col-md-12 nav-bar">
				<h4 style="margin-top: 10px">
					<!--
					<a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
					<small>{{ site.tagline }}</small> -->
			  
					 <a href="{{ site.baseurl }}" title="Home">Home</a>
			 
			  
					  {% for page in site.pages_list %}
							&nbsp;&nbsp;&nbsp;
							<a href="{{ page[1]  }}">{{ page[0] }}</a>
					  {% endfor %}
				</h3>
			</div>	
		</div>   
    </div> <!-- #4 container ends here -->
    
    <div class="container-fluid">
    <div class="row-fluid">
    
   
    <div class="col-sm-3" id="col1" style="background-color: #E3E4E5;" >
    <!--
    <div class="sidebar leftbar">-->
     {% include tag-list.html %}
     
     {% include new-sidebar-archive.html %}
     </div>
    <div class="col-sm-6" id="col2" style="background-color: lightgray;">  
    <!--
    
    <div class="container content">-->
      <!--
      <header class="masthead">
        
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
          
          
          {% for page in site.pages_list %}
				&nbsp;&nbsp;&nbsp;
				<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
		  {% endfor %}
        </h3>
      </header> -->

      <main>
        {{ content }}
      </main>
     </div>
     {% comment %}
		 {% capture categories %}
			{% for category in site.categories %}
				{% if forloop.last %}
					{{ category | first }}#{{ category | last | size }}
				{% else %}
					{{ category | first }}#{{ category | last | size }}|
				{% endif %}
					
			{% endfor %}
		 {% endcapture %}
     
     {% assign sortedcats = categories | split:'|' | sort %} 
    {% endcomment %}
    <div class="col-sm-3" id="col3" style="background-color:#E3E4E5" >
    <!-- <div class="sidebar rightbar"> -->
		 
		 <div class="class="sidebar-sec2" style="background-color: green">
			<a href="{{site.data.ad-data.banner-ad-1.link}}"> <img src="/images/{{ site.data.ad-data.banner-ad-1.img-file-name }}" class="cover-image" /></a>
		</div>	
		 {% include cat-list.html %}
		 <div class="class="sidebar-sec2" style="background-color: green">
			<a href="{{site.data.ad-data.banner-ad-1.link}}"> <img src="/images/{{ site.data.ad-data.banner-ad-1.img-file-name }}" class="cover-image" /></a>
		</div>	
		 {% include recent-posts.html %}
		 
		 <div class="class="sidebar-sec2" style="background-color: green">
			<a href="{{site.data.ad-data.banner-ad-1.link}}"> <img src="/images/{{ site.data.ad-data.banner-ad-1.img-file-name }}" class="cover-image" /></a>
		</div>	
		 
		
     </div>
    
     </div></div>
     
     
      <footer class="footer">
      {% include footer-include.html %}  
        
        
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    
</div>
</div>  <!-- end of container-fluid -->  
  </body>
</html>
